.image-card {
  position: relative;
}

.image-card-shadow {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.image-card-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
  left: 47%;
}

.image-card:hover .image-card-shadow {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.image-card:hover .image-card-overlay {
  opacity: 1;
}
